@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{

    margin: 0;
    padding: 0;
    font-family: "Anta", Arial, Helvetica, sans-serif;

}

body{

    background-color: #f6f0e0;

}

a{

    text-decoration: none;

}

/* Navbar classes */
.nav{
    height: 6em;
    background-color: #ce4f4e;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 2em;
    padding-right: 2em;

}

.nav .title{

    width: 20em;
    height: 5em;

}

.nav .logo{

    width: 4em;
    height: 4em;

    border-radius: 10em;

    background-color: #f6f0e0;

}

.nav .logo img{
    
    width: 4em;
    height: 4em;
    
    transition: 200ms;
    
}
/* End of navbar classes */

/* Body classes */
.center{

    min-height: 50em;
    padding-top: 2em;
    padding-bottom: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center .form{

    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #ce4f4e;

    width: 40em;
    min-height: 40em;

    border-radius: 1.5em;

    padding-top: 2em;
    padding-bottom: 2em;

    box-shadow: .5em .5em 1em black;

}

.center .form label{

    margin-top: 1em;
    margin-bottom: .2em;
    font-size: 1.5em;

}

.center .form input[type="submit"]{

    margin-top: 1em;
    margin-bottom: .2em;

    width: 10em;
    height: 3em;

    border: .2em solid #375daa;
    border-radius: 3em;

    font-size: 1.2em;
    background-color: #f9d00d;

    transition: 200ms;

}

.center .form input[type="submit"]:hover{

    transition: 200ms;
    transform: scale(1.1);
    background-color: #d6b40a;

}
.center .form .cancelar{

    margin-top: 1em;
    margin-bottom: .2em;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 5em;
    height: 1.5em;

    border: .2em solid #375daa;
    border-radius: 3em;

    font-size: 1.2em;
    background-color: #d03c3c;
    color: white;

    transition: 200ms;

}

.center .form .cancelar:hover{

    transition: 200ms;
    transform: scale(1.1);
    background-color: #ab2f2f;

}

.center .form input[type="text"], input[type="number"], select{

    border: none;
    padding-left: .3em;

    border-radius: .5em;

    width: 25em;
    height: 2em;
}

.center .form select option{
    background-color: white;
    color: black;
}

.center .form .title-box{

    width: 35em;
    height: 5em;

    background-color: white;
    border-radius: 3em;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.center .form .title-box h1{

    font-size: 3.5em;

}


.center .form .title-box img{

    width: 5em;
    height: 5em;

}
/* End of body class */